$card-size: 400px;
$image-size: 100%;
$image-height: 250px;

.card {
  width: 400px;
  margin:0px auto;
  
  background-color:white;

  a {
    color: #333;
    text-decoration:none;
   }
   &:hover {  
    .card-image {
      img {
         width: $image-size+10%;
         filter:grayscale(0);
      }  
    }
  }
}

.card-image {

  height: 250px;
  
  position:relative;
  overflow:hidden;
  img {
    width: $image-size;
    
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    filter: grayscale(1);
    
    transition-property: filter width;
    transition-duration: .3s; 
  }
 
}

.card-body {
  text-align:center; 
  padding: 15px 20px; 
  box-sizing: border-box;
}

button {
  display: inline-block;
  background-color: rgb(179, 44, 44);
  color: #eeeeee;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }

  // button:hover {
  //   background-color: darkblue;
  // }
  .form__input {
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(54, 54, 54);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    bottom: auto;
   margin-bottom: 10px ;
  }

  .area__input {
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 15% 2rem;
    border-radius: 0.2rem;
    background-color: rgb(54, 54, 54);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    bottom: auto;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  
  ul{
    list-style-type: none
  }